<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>





    <link rel="icon" type="image/x-icon" href="@Url.Content($"/contents/he-thong/")">




    <!--Fonts-->
    @* <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> *@
    
    <!--Styles-->

	@* <link href="~/lib/bootstrap5/bootstrap.min.css" rel="stylesheet" /> *@
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/webfonts/font-awesome/css/all.css" rel="stylesheet" />
   @*  <link href="~/webfonts/twemoji-awesome.css" rel="stylesheet" /> *@
    <link href="~/css/themes/base/all.min.css" rel="stylesheet" />
    <link href="~/css/bundlesCss.min.css" rel="stylesheet" />
    <link href="~/css/adminCss.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css">
    <link href="~/css/styleAdmin.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/lib/ajax-file-uploader/css/jquery.uploader.css">

    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="responsive">
        <div class="app-header">
            <div class="app-header__logo">
                @if (false)
                {
                    <a asp-action="Index" asp-controller="Home" target="_blank"><img class="logo-admin" src="" alt="logo" /></a>
                }
                else
                {
                    <a asp-action="Index" asp-controller="Home" target="_blank"><img class="logo-admin" src="~/images/logo-style-2.png" /></a>
                }
                <a id="btn-show" onclick="myFunction()"><i class="fa-solid fa-bars"></i><i class="fa-solid fa-times"></i></a>
            </div>
            <div class="app-header__content">
                <div class="media mr-lg-5 mr-3 drop">
                    <img class="mr-3 avatar" src="~/css/admin/icon_profile.png" />
                    <div class="media-body">
                        <h5 class="mb-0"></h5>
                        Quản trị viên
                    </div>
                    <div class="content-drop">
                        <a asp-action="ConfigSite" asp-controller="Vcms"><i class="fa-solid fa-info-circle mr-1"></i> Thông tin chung</a>
                        <a asp-action="ChangePassword" asp-controller="Vcms"><i class="fa-solid fa-low-vision mr-1"></i>Đổi mật khẩu</a>
                        <a asp-action="LogOut" asp-controller="Vcms"><i class="fa-solid fa-sign-out-alt mr-1"></i> Đăng xuất</a>
                        <a asp-action="ListStore" asp-controller="Vcms"><i class="fa-solid fa-store mr-1"></i> Danh sách cửa hàng</a>
                    </div>
                </div>
                <a id="help" class="drop" onclick="fbFunction()">
                    <i class="fas fa-user-headset"></i>
                    <div class="content-drop">Gửi yêu cầu cho chúng tôi</div>
                </a>
            </div>
        </div>
        <div id="left_menu_profile">
            <div class="left_menu_profile">
                <ul class="drop-bar">
                    <li data-id="0">
                        <a class="root expand mb-3" asp-action="Index" asp-controller="Vcms">Tổng quan website</a>
                    </li>
                    <li data-id="1">
                        <a class="root"><span>Quản trị viên</span><i class="fa-solid fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>
                                <a class="text_link" asp-action="ConfigSite" asp-controller="Vcms">Thông tin chung</a>
                            </div>
                        </div>
                    </li>

                    <li data-id="2">
                        <a class="root"><span>Quản lý hãng</span><i class="fa-solid fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>
                                <a class="text_link" asp-action="Index" asp-controller="Brand">Danh sách</a>
                            </div>
                            <div>
                                <a class="text_link" asp-action="Create" asp-controller="Brand">Thêm mới</a>
                            </div>
                        </div>
                    </li>

                    <li data-id="2">
                        <a class="root"><span>Quản lý danh mục</span><i class="fa-solid fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>
                                <a class="text_link" asp-action="Index" asp-controller="Category">Danh sách</a>
                            </div>
                            <div>
                                <a class="text_link" asp-action="Create" asp-controller="Category">Thêm mới</a>
                            </div>
                        </div>
                    </li>
    
                    <li data-id="2">
                        <a class="root"><span>Quản lý sản phẩm</span><i class="fa-solid fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>
                                <a class="text_link" asp-action="Index" asp-controller="Product">Danh sách sản phẩm</a>
                            </div>
                            <div>
                                <a class="text_link" asp-action="Create" asp-controller="Product">Thêm mới</a>
                            </div>
                        </div>
                    </li>

                    <li data-id="2">
                        <a class="root"><span>Quản lý khuyến mãi</span><i class="fa-solid fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>
                                <a class="text_link" asp-action="Index" asp-controller="Voucher">Danh sách khuyến mãi</a>
                            </div>
                            <div>
                                <a class="text_link" asp-action="Create" asp-controller="Voucher">Thêm mới</a>
                            </div>
                        </div>
                    </li>

                     <li data-id="2">
                        <a class="root"><span>Quản lý đơn hàng</span><i class="fa-solid fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>
                                <a class="text_link" asp-action="Index" asp-controller="Order">Danh sách đơn hàng</a>
                            </div>
                            @* <div>
                                <a class="text_link" asp-action="Create" asp-controller="Voucher">Thêm mới</a>
                            </div> *@
                        </div>
                    </li>

                    <li data-id="2">
                        <a class="root"><span>Quản lý bình luận</span><i class="fa-solid fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>
                                <a class="text_link" asp-action="Index" asp-controller="Comment">Danh sách bình luận</a>
                            </div>
                            @* <div>
                                <a class="text_link" asp-action="Create" asp-controller="Voucher">Thêm mới</a>
                            </div> *@
                        </div>
                    </li>

                         <li data-id="2">
                        <a class="root"><span>Quản lý từ khóa</span><i class="fa-solid fa-caret-down"></i></a>
                        <div class="sub hidden">
                            <div>
                                <a class="text_link" asp-action="Index" asp-controller="Keyword">Danh sách từ khóa</a>
                            </div>
                            <div>
                                <a class="text_link" asp-action="Create" asp-controller="Keyword">Thêm mới</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div id="content_center_right">
            <div class="content_center_right">
                @RenderBody()
            </div>
        </div>
    </div>


    @* <script src="~/lib/jquery/jquery.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
	<script src="~/lib/jquery.cookie.min.js"></script>


	@* <script src="~/lib/bootstrap5/bootstrap.bundle.min.js"></script> *@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <script src="~/lib/ajax-file-uploader/dist/jquery.uploader.min.js"></script>

@* 
  <script src="~/lib/ajax-file-uploader/src/adapter.js"></script>
  <script src="~/lib/ajax-file-uploader/src/constants.js"></script>
  <script src="~/lib/ajax-file-uploader/src/index.js"></script>
<script src="~/lib/ajax-file-uploader/src/uploader.js"></script> *@

    <script src="~/js/adminJs.js"></script>
    <script src="~/js/scriptAdmin.js"></script>
    <script src="~/js/bundlesJs.min.js"></script>

    @* <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script> *@

	<script src="~/js/admin/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
