<div class="policy_footer">

    <div class="container">

        <div class="row mx-0">

            <div class="col-9">

                <div class="list_policy_footer">
                    @Html.Partial("_Policy")
                </div>

                <div class="buttom_policy_footer mt-4 row mx-0">
                    <div class="col-9">
                        <h4>HỆ THỐNG 180 NHÀ THUỐC NDPHARMA TRÊN TOÀN QUỐC</h4>
                    </div>
                    <div class="col-3">
                        <a href="">Xem danh sách</a>
                    </div>
                </div>

            </div>

            <div class="col-3">
            </div>

        </div>

    </div>

</div>

<footer>

    <div class="footer_top">

        <div class="container">

            <div class="row row_footer_top mx-0">

                <div class="contact_footer_top col-3">
                    <h6>THÔNG TIN LIÊN HỆ</h6>

                    <div class="item_footer">
                        <strong>Địa chỉ</strong>
                        <p>Tòa nhà Ladeco, 266 Đội Cấn, Ba Đình, Hà Nội</p>
                    </div>

                    <div class="item_footer">
                        <strong>Email</strong>
                        <p><a href="">support@sapo.vn</a></p>
                    </div>

                    <div class="item_footer">
                        <strong>Hotline</strong>
                        <p><a href="">1900 6750</a></p>
                    </div>

                    <div class="item_footer">
                        <strong>Thời gian hỗ trợ</strong>
                        <p>08:30 - 21:30 các ngày trong tuần</p>
                    </div>

                </div>

                <div class="guide_footer_top col-3">
                    <h6>HƯỚNG DẪN</h6>
                    <ul>
                        <li>
                            <a href="">
                                Về chúng tôi
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Chính sách thanh toán
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Điều khoản áp dụng
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Quản lý thông tin xấu
                            </a>
                        </li>
                        <li>
                            <a href="">
                                An toàn giao dịch
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Quy trình thanh toán
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Hệ thống cửa hàng
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="cate_footer_top col-3">
                    <h6>DANH MỤC</h6>
                    <ul>
                        <li>
                            <a href="">
                                Thực phẩm chức năng
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Dược mỹ phẩm
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Chăm sóc cá nhân
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Thuốc
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Thiết bị y tế
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Sản phẩm tiện lợi
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Mẹ và bé
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Khuyến mãi Hot
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="content_footer_top col-3">
                    <h6>KẾT NỐI</h6>
                    <nav class="nav nav_contact">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fab fa-facebook"></i></a>
                        <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="nav-link" href="#"><i class="fab fa-google"></i></a>
                    </nav>
                    <h6>TẢI ỨNG DỤNG ND PHARMA</h6>
                    <div class="row mx-0 row-cols-2 mt-4">
                        <div>
                            <img src="~/images/img-google-play.png" alt="" width="100%">
                        </div>
                        <div>
                            <img src="~/images/img-app-store.png" alt="" width="100%">
                        </div>
                    </div>
                    <h6>TẢI ỨNG DỤNG ND PHARMA</h6>
                    <div class="row mx-0 row-cols-5 mt-4">
                        <div>
                            <img src="~/images/icon_payment_1.png" alt="" width="100%">
                        </div>
                        <div>
                            <img src="~/images/icon_payment_2.png" alt="" width="100%">
                        </div>
                        <div>
                            <img src="~/images/icon_payment_3.png" alt="" width="100%">
                        </div>
                        <div>
                            <img src="~/images/icon_payment_4.png" alt="" width="100%">
                        </div>
                        <div>
                            <img src="~/images/icon_payment_5.png" alt="" width="100%">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="footer_bottom">

        <div class="container">
            <div class="row mx-0">
                <div class="col-8">
                    @@ Bản quyền thuộc về ND Theme | Cung cấp bởi Sapo
                </div>
                <div class="col-4">
                    <img src="~/images/logo-footer.png" alt="">
                </div>
            </div>
        </div>

    </div>

</footer>