<div class="policy_pharma row mx-0 row-cols-3">

@for (var x = 0; x < 3; x++)
{
    <div class="item_policy_pharma row mx-0">
        <div class="col-3">
            <img src="~/images/icon_policy_1.png" width="100%" alt="">
        </div>
        <div class="col-9">
            <p>Miến phí giao hàng</p>
            <p>Theo chính sách</p>
        </div>
    </div>
}

</div>
