$color_main : #00ab6d;
$color_gray : #edfdf6;
$color_gray_1 : #c0c4c2;
$color_gray_2 : #e7ebe9;
$color_white : #fff;
$color_black : black;

$color_main_1 : #bff8e3;

$color_blue : #2a9dcc;

$color_green: #80BB35;
