@model Pharma.ViewModels.PageChangePassword

@{
    ViewData["Title"] = "ChangePassword";
}


<div class="account">

    <div class="container">

        <div class="row mx-0">

            <div class="col-3">

                @await Component.InvokeAsync("MenuInforComponent")

            </div>


            <div class="col-9 change_pass_account">
                
                @await Html.PartialAsync("_Alert")

                <h4>ĐỔI MẬT KHẨU</h4>

                <form action="" method="post">

                    <div class="mb-3">
                        @* <label for="">Mật khẩu cũ</label> *@
                        <label for="" asp-for="PassOld"></label>
                        <input type="password" class="form-control" asp-for="PassOld">
                        <span class="text-danger" asp-validation-for="PassOld"></span>
                    </div>

                      <div class="mb-3">
                        @* <label for="">Mật khẩu mới</label> *@
                        <label for="" asp-for="Password"></label>
                        <input type="password" class="form-control" asp-for="Password">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>

                      <div class="mb-3">
                        @* <label for="">Xác nhận mật khẩu</label> *@
                        <label for="" asp-for="Confirm"></label>
                        <input type="password" asp-for="Confirm" class="form-control">
                        <span class="text-danger" asp-validation-for="Confirm"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Đặt lại mật khẩu</button>
                    </div>

                </form>

            </div>

        </div>

    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
