@model Pharma.ViewModels.PageRegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="login">

    <div class="container">

        <div class="box_login">

         <h2>ĐĂNG KÝ</h2>
            <p>Đã có tài khoản, <a class="to_register" asp-action="Login">đăng nhập tại đây </a></p>

        <form class="form_login" method="post">

            <div class="mb-3">
                <input asp-for="Fullname" class="form-control" placeholder="Họ và tên">
                <span class="text-danger" asp-validation-for="Fullname"></span>
            </div>

                <div class="mb-3">
                <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

                <div class="mb-3">
                <input type="password" asp-for="Password" class="form-control" placeholder="Mật khẩu">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

              <div class="mb-3">
                <input type="password" asp-for="Confirm" class="form-control" placeholder="Xác nhận">
                <span class="text-danger" asp-validation-for="Confirm"></span>
            </div>

              <div class="mb-3">
                <input type="submit" class="btn" value="Đăng ký">
            </div>

        </form>

        @* <a href="" class="btn_bottom_login">
            Quên mật khẩu
        </a>

        <a href="" class="btn_bottom_login">
            Hoặc đăng nhập
        </a> *@

        </div>



    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
